<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment</title>
</head>
<body>
    <app-admin-dashboard></app-admin-dashboard>
    <div class="outer"> 
      <h2>ENROLLMENT</h2>     
      <div class="fingerprint">
        <button class="capture" type="button">Capture</button>
            <button class="reset" type="button">Reset</button>
      </div>      
       <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <label for="name">Employee Name</label>
        <br>
        <input type="text" id="name" formControlName="name" placeholder="Enter the Name"required (input)="onNameInput($event)">
        <div>
          <div *ngIf="nameContainsNumber" class="error-message">
            <p> Only alphabets are allowed</p>
          </div>       
          <div *ngIf="employeeForm.get('name')?.errors?.['required'] && employeeForm.get('name')?.touched">
            <p>Name is required</p>
          </div>
        </div>                   
     <br>
        <label for="id">Employee ID</label>
        <br>
        <input type="digit" id="id" formControlName="id" placeholder="Enter the ID" required>
        <div *ngIf="employeeForm.get('id')?.invalid && employeeForm.get('id')?.touched">
         <p>ID is required</p>
        </div>
      <br>
        <button class="enrollbutton" type="submit" [disabled]="employeeForm.invalid">ENROLL</button>

      </form>
     </div>
    

</body>
</html>
