<app-dashboard></app-dashboard>
<form [formGroup]="payrollForm" (ngSubmit)="generatePayslip()">
  <div class="form-group">
    <label for="employeeName">Employee Name:</label>
    <input type="text" formControlName="employeeName" id="employeeName" required (input)="onNameInput($event)">
    <div *ngIf="payrollForm.get('employeeName')?.errors && payrollForm.get('employeeName')?.touched">
      <p class="error-message">Employee name is required</p>
    </div>
    <div *ngIf="nameContainsNumber" class="error-message">
      <p>Only alphabets are allowed</p>
    </div>
  </div>

  <div class="form-group">
    <label for="employeeID">Employee ID:</label>
    <input type="text" formControlName="employeeID" id="employeeID">
  </div>

  <div class="form-group">
    <label for="month">Month:</label>
    <input type="month" formControlName="month" id="month">
  </div>

  <button type="submit" [disabled]="!checkAllFieldsFilled()">Generate Payslip</button>
</form>

<div *ngIf="employeeDocument">

  <p>Employee Name: {{ employeeDocument?.employeeName }}</p>
  <p>Employee ID: {{ employeeDocument?.employeeID }}</p>
  <!--<p>{{ employeeDocument | json }}</p>-->
  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Employee ID</th>
        <th>PayPeriod</th>
        <th>WorkedHours</th>
        <th>PayDate</th>
        <th>Basic Pay</th>
        <th>HRA</th>
        <th>IncomeTax</th>
        <th>ProvidentFund</th>
        <th class="netpay">NetPay</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ employeeDocument?.employeeName }}</td>
        <td>{{ employeeDocument?.employeeID }}</td>
        <td>{{ employeeDocument?.payPeriod }}</td>
        <td>{{ employeeDocument?.workedHours }}</td>
        <td>{{ employeeDocument?.payDate }}</td>
        <td>{{ employeeDocument?.basicPay }}</td>
        <td>{{ employeeDocument?.hra }}</td>
        <td>{{ employeeDocument?.incomeTax }}</td>
        <td>{{ employeeDocument?.providentFund }}</td>
        <td>{{ employeeDocument?.netPayable }}</td>
        
      </tr>
    </tbody>
  </table>
  <button  class="download"(click)="downloadTableData()">Download</button>
</div>
