.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  .btn-edit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-edit:hover, .btn-delete:hover {
    filter: brightness(85%);
  }
/* Additional CSS for buttons */
.btn-view {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-view:hover {
  filter: brightness(85%);
}

/* Additional CSS for employee list */
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  /* width: 70%;
  padding: 8px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 70px;
}



.form-group input[type="checkbox"] {
  margin-right: 5px;
}

.form-group input[type="submit"],
.form-group button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button[type="button"] {
  background-color: #6c757d;
}

.form-group input[type="submit"]:hover,
.form-group button[type="submit"]:hover,
.form-group button[type="button"]:hover {
  filter: brightness(85%);
}

@media (max-width: 768px) {
  .form-group {
    width: 70%;
  }
}
.mat-mdc-dialog-container{
  position: relative;
}
  