.top-nav {
    background: linear-gradient(to bottom right, #b5f590, #0f8571);
    height: 50px;  
    top: 0;
    left: 0;     
   
  }
  
  a {
    color: black;
    padding-right: 100px;
    margin-left: 50px;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: sans-serif;
    
  }
  
  a:hover {
    color: brown;
  }
  

  