
body{
  top:0px;
  margin:0px;  
  background: linear-gradient(to bottom right,rgb(248, 248, 248),rgb(241, 241, 243));
  animation: gradientAnimation 5s infinite alternate;
  @keyframes gradientAnimation {
    0% { background-color: rgb(132, 128, 189); }
    100% { background-color: rgb(63, 191, 191); }
  }
 
}
.horizontal-nav {
 background-color: blanchedalmond;
  overflow: hidden; /* Hide overflowing content */
}

.horizontal-nav a {
  float: left; /* Float the links to the left */
  display: block; /* Display as block elements */
  color:black; /* Set text color */
  text-align: center; /* Center align text */
  padding: 10px; /* Add padding */
  text-decoration: none;
  margin-left:50px ;  /* Remove underline */
}


.horizontal-nav a:hover {
  background-color: #4398dd; /* Change background color on hover */
}

/* Optional: Add active class to current link */
.horizontal-nav a.active {
  background-color: #4caf50; /* Set active link background color */
  color: white; /* Set active link text color */
}


 



.container {
  display: flex; 
  background-image:url('../../assets/home_img.jpg') ;
  background-repeat: none;
 opacity:0.5;  
 height:800px; 
}

/* .homepage_img{
  margin-top:50px;
  max-width: 50%;
  max-height:50%;
 margin-bottom:50px;  
 border-radius: 3%;
 border-color: black;
 box-shadow: inset;
} */

.text {
  margin-top:90px;
  font-size: 0.9rem;
  padding-left: 30px;
  text-align: justify;
  line-height: 1cm;
  color:white; 
  width:500px;
}





.process img{  
  width:150px;
  height:150px; 
}

.process {
  display: flex; 
  flex-wrap: nowrap;   
}

.process figure {
  margin-left: 60px; 
  text-align: center; 
}

/*Welcome*/

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size:60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color:rgb(11, 46, 143);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


/*Contact*/

body #contact{
  background-image: url('https://rare-gallery.com/uploads/posts/3410871-original-night-original-silhouette-sky-stars-train.jpg');
  background-repeat: no-repeat;
  background-size: cover;
color:transparent;
height:700px;
}
.enterinfo input{
  background-color: transparent;
  border-color: aliceblue;
  width:300px;
  height:30px;
  text-align: center;
  margin:10px;
  margin-left:30px;
}
.binfo{
  background-color: blue;
  border-color: aliceblue;
  width:300px;
  height:30px;
  text-align: center;
  margin:10px;
  margin-left:30px;
  color:beige;
}
.cinfo{
  color:white;
  text-align: center;
}
